.Hero{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    height:20vh;
    width:100%;
}

/*Titre input */
.hero-title{

    font-size:1.5rem;

}

/* Text input */
.hero-text-class{

    width:45%;
    height:40px;
    text-align: center;

}